@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Mali:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Montserrat:wght@200;300&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}
/*transição do menu hamburguer OK*/

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .45rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.45rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2a5298;
    color: white;
    font-family: "Mali",sans-serif;
    opacity: 0;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid #2a5298;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: white;
    font-size: 3.5rem;
    font-family: "Baloo Da 2", sans-serif;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moverBanner 1s 0.5s forwards;
}

.banner p {
    font-family: "Josefin+Slab", sans-serif;
    color: white;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    opacity: 0;
    animation: moverBanner 1s 0.7s forwards;
}

.banner button {
    font-family: "Mali", sans-serif;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  
    background: linear-gradient(to right, #2a5298, #1e3c72);
    margin-top: 2rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moverBanner 1s 0.9s forwards;
}

@keyframes moverBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
       opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s; 
    z-index: 150;
}

.show-menu .sidebar{
    right: 0;
}

.menu {                             
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {                         
    text-align: center; 
    margin-bottom: .5rem;
}

.menu-link {
    font-family: "Baloo Da 2", sans-serif;
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover {
    color: #1e3c72;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.social-media i {
    color: #555;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s ;
}

.social-media i:hover{
     background-color: #1e3c72;
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(4) {
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.sessao-conhecimentos {
    background-color: #f5f5f5;
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1 {
    font-family: "Baloo Da 2" ,sans-serif;
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #1e3c72;
    margin-bottom: 2.5rem;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i {
    font-size: 2.5rem;
}

.conhecimento-header h3 {
    font-family: "Josefin+Slab", sans-serif;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.conhecimento-text {
    font-family: "Josefin+Slab", sans-serif;
    margin-top: 1rem;
}

.conhecimentos-img-wrapper {
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}

.conhecimentos-img-wrapper img {
    object-fit: cover;
    width: 100%;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 18rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .9;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img {
    opacity: .5;
}

.card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2.1rem;
    text-shadow: 0.3rem 0.2rem 0.3rem  rgba(0, 0, 0, .4);
    transition: all .3s;
}

.card-info h2 {
    font-family: "Baloo Da 2", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3 {
    font-family: "Mali", sans-serif;
    font-weight: bolder;
    color: #eee;
    margin-bottom: .5rem;
}

.card-info p {
    font-family: "Josefin+Slab", sans-serif;
    color:black;
    font-weight: bolder;
    width: 80%;
    margin-bottom: .3rem;
}

.card-info button {
    width: 8rem;
    height: 2.5rem;
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  
    background: linear-gradient(to right, #2a5298, #1e3c72);
    font-family: "Mali", sans-serif;
    font-size: 1rem;
    color: #eee;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4)
}

.card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

footer {
    width: 100%;
    height: 5rem;
    background-color: #171817;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    font-family: "Josefin+Slab", sans-serif;
    color: #a7a7a7;
    font-size: 1rem;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1rem;
}

.social-list ul {
    display: flex;
}

#link-topo {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  
    background: linear-gradient(to right, #2a5298, #1e3c72);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 3rem;
    
}